@font-face {
  font-family: "bit-Arcade-In";
  src: url(../fonts/8-bit\ Arcade\ In.ttf);
}
@font-face {
  font-family: "bit-Arcade-out";
  src: url(../fonts/8-bit\ Arcade\ Out.ttf);
}
@font-face {
  font-family: "Minecraft";
  src: url(../fonts/Minecraft.ttf);
}
@font-face {
  font-family: "pixeled";
  src: url(../fonts/Pixeled.ttf);
}
* {
  font-family: "Lilita One", cursive;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0f0f0f;
  min-height: 100vh;
}
body .container {
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
body .container header .ciga-logo {
  width: 10rem;
}
body .container .btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
body .container .btn-wrapper .count-btn {
  width: 48%;
  display: flex;
  justify-content: center;
}
body .container .btn-wrapper .clr-btn {
  width: 48%;
  display: flex;
  justify-content: center;
}
body .container .btn-wrapper button {
  width: 100%;
  border-radius: 1em;
  transition: all 50ms ease-in-out;
  background-color: #303030;
  color: #aaa;
}
body .container .btn-wrapper button:active {
  transform: translate(3px, 3px);
}
body .container .counter-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.3em;
}
body .container .counter-wrapper .info-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 0.3em;
  width: 100%;
  box-sizing: border-box;
}
body .container .counter-wrapper .info-wrapper button {
  width: 20%;
  border-radius: 1em;
  transition: all 50ms ease-in-out;
  background-color: #303030;
  color: #aaa;
}
body .container .counter-wrapper .info-wrapper button:active {
  transform: translate(3px, 3px);
}
body .container .counter-wrapper .number {
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: #303030;
  color: white;
  font-size: 2rem;
}
body .container .counter-wrapper .time {
  border-radius: 1em;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  font-size: 2rem;
}
body .hidden {
  display: none;
}
body .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.453);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .overlay .popup {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 40vh;
  padding: 0 0.8em;
}
body .overlay .popup .popupH3 {
  color: white;
}
body .overlay .popup .popup-btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
body .overlay .popup .popup-btn-wrapper button {
  width: 45%;
  min-height: 2em;
  border-radius: 1em;
  transition: all 50ms ease-in-out;
  background-color: #303030;
  color: #aaa;
  transition: all 50ms ease-in-out;
  color: white;
}
body .overlay .popup .popup-btn-wrapper button:active {
  transform: translate(3px, 3px);
}

@media screen and (max-width: 950px) {
  * {
    font-size: 1.5rem;
  }
  body .container {
    max-width: 900px;
  }
  body .container header .ciga-logo {
    width: 7rem;
  }
  body .container .btn-wrapper button {
    padding: 0.5rem 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  * {
    font-size: 1.5rem;
  }
  body .container {
    max-width: 400px;
  }
}/*# sourceMappingURL=main.css.map */